# Mercado Pago Configuration
MP_ACCESS_TOKEN=TEST-3110328722128258-100514-63e7dc670655b03344e180477a3d5da3-190968069
MP_PUBLIC_KEY=TEST-ae034fa4-581f-4e04-a922-4fcf697872f4

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/onepot_db

# Flask Configuration
FLASK_ENV=production
SECRET_KEY=your-secret-key-here
